import React from 'react'

export default class {{properCase name}} extends React.Component {

  render () {
    return (
      <div className='{{kebabCase name}}'>
        This is the {{properCase name}} component!
      </div>
    )
  }
}
