import React from 'react'

export default class {{properCase name}}Section extends React.Component {

  render () {
    return (
      <section className='{{kebabCase name}}-section'>
        This is the {{properCase name}}Section component!
      </section>
    )
  }
}
