{
  "presets": ["next/babel"],
  "plugins": [
    ["inline-react-svg"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["babel-plugin-root-import", {
      "paths": [{
        "rootPathSuffix": "src"
      }, {
        "rootPathPrefix": "+",
        "rootPathSuffix": "styles"
      }, {
        "rootPathPrefix": "-",
        "rootPathSuffix": "static"
      }]
    }]
  ]
}
