{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    "transform-decorators-legacy",
    ["babel-plugin-root-import", [{
      "rootPathSuffix": "src"
    }, {
      "rootPathPrefix": "+",
      "rootPathSuffix": "styles"
    }]]
  ],
  "env" : {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        "inline-react-svg",
        "transform-decorators-legacy",
        ["babel-plugin-root-import", [{
          "rootPathSuffix": "src"
        }, {
          "rootPathPrefix": "+",
          "rootPathSuffix": "styles"
        }, {
          "rootPathPrefix": "-",
          "rootPathSuffix": "static"
        }]]
      ]
    }
  }
}
