{
  "env" : {
    "all" : {
      "presets": ["next/babel"],
      "plugins": [
        "transform-decorators-legacy",
        ["babel-plugin-root-import", [{
          "rootPathSuffix": "components"
        }, {
          "rootPathPrefix": "+",
          "rootPathSuffix": "styles"
        }]]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        "transform-decorators-legacy",
        ["babel-plugin-root-import", [{
          "rootPathSuffix": "components"
        }, {
          "rootPathPrefix": "+",
          "rootPathSuffix": "styles"
        }]]
      ]
    }
  }
}
