$xs-br: 480;
$sm-br: 768;
$md-br: 1024;
$lg-br: 1280;

$grid-breakpoints: (
  xxs: 0,
  xs: $xs-br * 1px,
  sm: $sm-br * 1px,
  md: $md-br * 1px,
  lg: $lg-br * 1px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$sm-w: 720;
$md-w: 960;
$lg-w: 1170;

$container-max-widths: (
  sm: $sm-w * 1px,
  md: $md-w * 1px,
  lg: $lg-w * 1px,
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12;
$grid-gutter-width-base:     30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
)
